.contato {
  // @include flexConfig(center);
  text-align: center;
  flex-direction: column;

  background-image: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  margin-bottom: 2.4rem;


  h2 {
    color: $roxo;
    span.contact {
      color: $laranja;
    }
  }

  p {
    margin-bottom: 2.4rem;
  }

  .contact-wrapper {
    @include boundaries();
    display: grid;
    grid-template-columns: 45% 55%;
  

    .infos,
    #contact-form {
      justify-self: center;
      align-self: center;
      background: $branco;
      border-radius: 15px;
      @include boxShadow(forte);
      padding: 2rem;
    }
    .infos {
      height: 70%;
      display: flex;
      text-align: left;
      justify-content: space-around;
      align-content: center;
      flex-direction: column;

      .info-texts {
        @include flexConfig(center);
        flex-direction: column;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        h3 {
          color: $roxo;
          span {
            color: $laranja;
          }
        }
      }

      .info {
        @include flexConfig(center);
        justify-content: flex-start;
        width: 75%;
        margin: 0 auto;
        .icon-wrapper {
          margin-right: 3.2rem;
        }
      }
    }

    #contact-form {
      height: 75rem;
      margin-left: -100px;
      width: 100%;

      @include flexConfig(around);
      flex-direction: column;
      align-items: center;

      .form-group {
        position: relative;
        width: 75%;

        input {
          width: 100%;
          padding: 1.6rem 0;
          font-size: 1.6rem;
          color: $roxo;
          margin-bottom: 30px;
          border: none;
          border-bottom: 2px solid $cinza;
          outline: none;
          background: transparent;

          &:focus,
          &:valid {
            border-bottom: 2px solid $roxo;
          }

          &:focus ~ label,
          &:valid ~ label {
            top: -25px;
            left: 0;
            color: $roxo;
            font-size: 1.6rem;
          }
        }

        textarea {
          width: 100%;
          padding: 1.6rem;
          font-size: 1.6rem;
          color: $roxo;
          margin-bottom: 30px;
          border: 2px solid $cinza;
          border-radius: 1rem;

          &:focus,
          &:valid {
            border: 2px solid $roxo;
          }

          &:focus ~ label,
          &:valid ~ label {
            top: -50px;
            left: 0;
            color: $roxo;
            font-size: 1.6rem;
          }
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 1.6rem 0;
          font-size: 1.6rem;
          color: $cinza;
          pointer-events: none;
          transition: 0.5s;
        }
        .label-msg {
          left: 1.6rem;
        }

        .btn-principal {
          @include flexConfig(around);

          float: right;
          border: none;
          cursor: pointer;
          padding: 1.6rem;
          width: 20rem;
        }
      }
    }
  }
}

// RESPONSIVIDADE


@media (max-width: 474px) {
  .contato {
    height: 100%;

  
    .contact-wrapper  {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .infos {
        height: 50rem;
        width: 85%;
      }

      #contact-form  {
        margin-left: 0;
        margin-top: -24px;

        .form-group  {
          .btn-principal {
            float: none;
            margin: auto;
            width: 75%;
          }
        }
      }
    }
  }
}


@media (max-width: 376px) {
  .contato {
    .contact-wrapper {
      #contact-form {
        margin-top: -12px;

        .form-group {
          width: 95%;
        }
      }
    }
  }
}