.galeria {
  padding: 3.2rem;
  width: 100vw;

  background-image: url("../images/Gart-icon-bg.svg");
  background-color: rgba(248, 163, 71, 0.15);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include flexConfig(center);
  flex-direction: column;

  .wrapper-galeria {
    @include flexConfig(center);
    flex-direction: column;
    @include boundaries(false);
    margin-bottom: 3.2rem;

    .texto-galeria {
      text-align: center;
      line-height: 2.6rem;
      width: 50%;
      min-width: 300px;
      margin: 1.6rem 0;
    }

    .btn-principal {
      width: 325px;
    }
  }

  .galeria-imagens {
    @include flexConfig(center);
    flex-wrap: wrap;
    @include boundaries(true);
   

    img {
      object-fit: cover;
      transition: all 0.5s ease-out;
      cursor: pointer;

      justify-self: center;
      align-self: center;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media(max-width: 478px) {
  .galeria {
    .galeria-imagens {
     
      img {
        width: 100%;
      }
     
    }
  }
}