header {
  .menu-container {
    background: #fff;
    padding: 1.6rem;
    @include boxShadow(fraca);

    @include flexConfig(evenly);
    .logo {
      width: 100%;
      max-width: 18rem;
    }

    .menu-section {
      @include flexConfig(evenly);

      .menu-toggle {
        display: none;
        opacity: 0;
      }

      nav ul {
        display: flex;
        list-style: none;

        li {
          margin: auto 1.6rem;

          a {
            color: $roxo;
            transition: all ease 0.3s;
            opacity: 0.75;
            font-size: 1.8rem;

            &:hover {
              font-weight: bold;
              opacity: 1;
            }
          }
        }
      }

      .social-links {
        background: linear-gradient(180deg, #e65232 0%, #f8a347 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        a {
          margin: auto 1.6rem;
        }
      }
    }
  }
}

// RESPONSIVIDADE

@media (max-width: 1024px) {
  header {
    .menu-container {
      @include flexConfig(between);
      .logo {
        margin-left: 24px;
      }

      .menu-section {
        .nav-wrapper,
        .social-links {
          display: none;
        }

        .menu-toggle {
          display: block;
          opacity: 1;
          width: 40px;
          height: 30px;
          margin-right: 24px;
          transition: 0.3s;

          .one,
          .two,
          .three {
            background: linear-gradient(128.09deg, rgba(248, 163, 71, 0.7) 0%, #e65232 77.66%);

            height: 5px;
            width: 100%;
            margin: 6px auto;
          }
        }

        &.on {
          position: absolute;
          top: 0;
          left: 0;

          width: 100vw;
          height: 100vh;
          z-index: 10;

          background: $rosa;

          flex-direction: column;
          color: $amarelo;

          .menu-toggle {
            position: absolute;
            right: 24px;
            top: 32px;
            .one,
            .two,
            .three {
              background: $amarelo;
              transition-duration: 0.3s;
            }

            .one {
              transform: rotate(45deg) translate(7px, 7px);
            }

            .two {
              opacity: 0;
            }

            .three {
              transform: rotate(-45deg) translate(8px, -9px);
            }
          }

          .nav-wrapper,
          .social-links {
            display: block;
          }

          .nav-wrapper {
            text-align: center;
            ul {
              flex-direction: column;
              li {
                margin-bottom: 1rem;
                a {
                  color: $branco;
                  opacity: 0.7;

                  transition-duration: 0.5s;
                  font-size: 2rem;
                  line-height: 4rem;
                  display: block;
                }
              }
            }
          }

          .social-links {
            background: linear-gradient(180deg, #ffffff 0%, rgba(217, 57, 132, 0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            opacity: 0.8;
          }
        }
      }
    }
  }
}
