
.container {

  font-family: 'Poppins', sans-serif;
  width: 90%;

  max-width: 300px;
  margin: auto;
  padding: 32px 0;

  @include flexConfig(center);

  flex-direction: column;


  .profile {
    
  @include flexConfig(center);
    flex-direction: column;
    img {
      height: 200px;
      max-width: 100%;
      border-radius: 50%;
    }

    .insta-link {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      width: 100%;
      padding: 1rem;
      font-size: 16px;
      font-weight: bold;
      background: linear-gradient(100deg, #e65232, #f8a347);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      .link-icon {
        font-size: 16px;
      }
    }
  }

  .content_container {
    @include flexConfig(center);
    flex-direction: column;
    text-align: left;
    row-gap: 3rem;
    margin-top: 3rem;
    width: 100%;

    .social-link-group  {
      width: 90%;
      text-align: center;
  


      background: chartreuse;

      color: $branco;
      border-radius: 1rem;

      font-size: 16px;
      font-weight: bold;

      transition: .3s;

      a {
        height: 60px;
        width: 100%;
        @include flexConfig(center);
        justify-content: space-evenly;

        background: $roxo;
        border-radius: 1rem;

        transition: .3s;
        color: &branco;

        &:hover {
          background: $rosa;

          @include boxShadow(contorno);
          transform: scale(1.05);
        }

        &:visited {
          color: $branco;
        }
      }

      .group-laranja {
        background: $laranja;
        &:hover {
          background: $amarelo;
          @include boxShadow(contorno);
          transform: scale(1.05);

        }
      }

      
    }

  
  }
  
}